.service-container {
    background-color: #fff;
    color: #000;
    margin: 0 auto;
    padding: 80px 20px;
    position: relative;
}

.ulo {
    font-family: 'Newake', sans-serif;
    font-size: 96px;
    font-weight: 100;
    padding-left: 80px;
    line-height: 1.1;
    margin-top: 5px;
}

.services-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-left: 80px;
}

#services-black {
    background-color: #000;
    color: #fff;
    margin: 0 -20px;
    padding: 200px 20px 100px;
    margin-top: 100px;
    position: relative;
}

.SEO {
    font-family: 'Newake', sans-serif;
    font-size: 36px;
    padding-left: 80px;
    font-weight: 100;
    margin-top: -100px;
}

.par1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    position: absolute;
    left: 904px;
    top: 80px;
    max-width: 1200px;
}

.Web-main {
    font-family: 'Newake', sans-serif;
    font-size: 36px;
    padding-left: 80px;
    font-weight: 100;
    margin-top: 110px;
}

.par2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    position: absolute;
    right: 40px;
    top: 230px;
}

.E-com{
    font-family: 'Newake', sans-serif;
    font-size: 36px;
    padding-left: 80px;
    font-weight: 100;
    margin-top: 90px;
}

.par3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    position: absolute;
    right: 51px;
    top: 360px;
}

.Custom{
    font-family: 'Newake', sans-serif;
    font-size: 36px;
    padding-left: 80px;
    font-weight: 100;
    margin-top: 90px;
}

.par4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    position: absolute;
    right: 70px;
    top: 490px; 
}

.Web-host {
    font-family: 'Newake', sans-serif;
    font-size: 36px;
    padding-left: 80px;
    font-weight: 100;
    margin-top: 90px;
}

.par5 { 
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    position: absolute;
    right: 105px;
    top: 620px;
}

.pic {
    margin: 0 -20px;
    padding: auto  20px auto;
    position: relative;
    max-width: 1400px;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.Blak {
    background-color: #000;
    color: #fff;
    margin: 0 -20px;
    padding: 100px 50px 0;
    overflow: hidden;
    position: relative;
}

.first-title {
    font-family: 'Newake', sans-serif;
    font-size: 75px;
    font-weight: 500;
    margin-top: -20px;
    text-align: center;
    margin-bottom: 10px;
}

.blue-text{
    font-family: 'Newake', sans-serif;
    color: #2f7fef;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 200;
    line-height: 2;
    text-align: center;
    margin-bottom: 70px;
}

.title-line {
    font-family: 'Newake', sans-serif;
    color: #aaadae;
    font-size: 45px;
    letter-spacing: 8px;
    display: flex;  
    justify-content: center; 
    gap: 50px;
    flex-wrap: wrap;
    text-transform: uppercase;
    width: max-content;
    padding-bottom: 80px;
    padding-top: 40px;
    animation: marquee 5s linear infinite;
}

.title-line span {
    white-space: nowrap;
    cursor: pointer;
}

.title-line:hover {
    animation-play-state: paused;
}

@keyframes marquee{
    0%{ transform: translateX(0);
    }
    100%{
        transform: translateX(-40%);
    }
}


